{% extends "admin/master.html" %}

{% block body %}
   <h1 class="d-flex text-center text-danger">Triều Trang Hotel &copy 2020</h1>
   <div class="col-lg-6 col-6 lobster-font-family d-flex align-items-center" >
      <p>
         <h1>Những trải nghiệm đáng nhớ cùng kỳ nghỉ sang trọng tại khách sạn Triều Trang.</h1>
      Mang trong mình vẻ đẹp huyền bí và những nét văn hóa độc đáo của di sản phố cổ,
      Triều Trang Hotel là điểm đến lý tưởng để du khách có một kỳ nghỉ thư giãn,
      thoải mái cùng với dịch vụ đẳng cấp và những lựa chọn ăn uống tuyệt vời ngay tại trung tâm phố cổ Hội An.
      Đặt phòng tại Triều Trang Hotel để tận hưởng sự sang trọng và thoải mái tối đa. Dù bạn ở đây với mục đích gì,
      chúng tôi sẽ mang đến cho bạn một kỳ nghỉ thật sự đáng nhớ.
      </p>
   </div >
   <div class="d-flex col-lg-6 col-12">
     <h1> Tại khách sạn Triều Trang, chúng tôi phục vụ bằng cả trái tim!</h1>
   Tại khách sạn Triều Trang, đội ngũ nhân viên thân thiện và chuyên nghiệp
      của chúng tôi luôn sẵn sàng phục vụ quý khách với “lòng hiếu khách và yêu mến chân thành”.
   Đặt phòng tại khách sạn Triều Trang, chúng tôi sẽ đưa quý khách đến với những hành trình khám phá thú vị
      và một kỳ nghỉ đáng nhớ. Quý khách chắc chắn sẽ hài lòng với dịch vụ hoàn hảo,
      và được phục vụ với sự yêu mến và hiếu khách từ tấm lòng của mỗi nhân viên khách sạn.
   </div>

 <div class="d-flex text-left col-lg-12 col-12 lobster-font-family d-flex align-items-center">
      <h1>Nơi nghỉ dưỡng sang trọng hoàn hảo cho kỳ nghỉ của bạn tại phố cổ Hội An</h1>
   <p>Được trang bị hiện đại với tiện nghi sang trọng và tinh tế trong một không gian hài hòa với hướng nhìn ra sông Hoài,
      Triều Trang Hotel là nơi nghỉ dưỡng mang đến nhiều lựa chọn phù hợp với từng nhu cầu nghỉ dưỡng và ngân sách của bạn.</p>
   </div>
   <div class="d-flex col-lg-12 col-12">
      <h1 class="text-center">Vị trí hoàn hảo ngay tại trung tâm phố cổ Hội An</h1>
      <p>Nằm bên bờ sông Hoài, Triều Trang Hotel mang đến cảm giác yên bình.
      Tọa lạc ngay trong phố cổ Hội An cổ kính, từ khách sạn Triều Trang Hotel bạn có thể dễ dàng khám khá những
      điểm đến hấp dẫn của phố cổ.
      Khách sạn cách chùa Cầu ở ngay trung tâm phố cổ chỉ 3 phút đi bộ.
      Lang thang trên những con phố, bạn sẽ có dịp đắm mình trong di sản văn hóa và những điểm tham quan hấp dẫn,
      chợ đêm, cửa hàng, quán bar, nhà hàng và các cửa hàng thời trang.
      Khách sạn cũng là điểm khởi đầu lý tưởng để bạn có thể khám phá vẻ đẹp của những điểm đến hấp dẫn lân cận.
      Chỉ cần đạp xe hoặc di chuyển bằng dịch vụ xe buýt miễn phí từ khách sạn Triều Trang Hotel,
      bạn có thể đến với bãi biển An Bàng yên bình cách đó chừng 3.5 km. Là một địa điểm lý tưởng để khám phá
      vẻ đẹp của miền Trung Việt Nam, bạn còn có thể dễ dàng đến các điểm thăm quan của thành phố Đà Nẵng như núi Ngũ Hành Sơn,
      khu vui chơi giải trí Bà Nà và các di sản thế giới khác như thánh địa Mỹ Sơn và Cung đình Huế. Ngoài ra,
         khách sạn chỉ cách sân bay quốc tế Đà Nẵng tầm 35 phút di chuyển bằng xe buýt hoặc taxi.</p>
   </div>

{% endblock %}